@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

.ant-form-item-label {
  @apply text-gray-900;
  @apply font-bold;
}

main {
  /* height: calc(100vh - 56px) !important; */

  height: calc(var(--vh, 1vh) * 100 - 56px) !important;
}

::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
  height: 8px; /* 滚动条高度 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道背景 */
}

::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条滑块背景 */
  border-radius: 6px; /* 滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* 滑块悬停时背景 */
}

.markdown-body > pre > code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.my-prefix-layout .my-prefix-layout-content {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
}

.markdown-body ol,
ul,
menu {
  list-style: revert;
  /* color: red;
  font-size: 1.5em; */
}

div[role="user"] .ant-bubble-content-wrapper {
  align-items: flex-end;
}

div[role="system"] .ant-bubble-content-wrapper {
  align-items: flex-end;
}

.no-attached {
  background: repeating-linear-gradient(
    135deg,
    #eeeeee,
    /* 灰色 */ #eeeeee 10px,
    #ffffff 10px,
    #ffffff 20px
  );
}

.ant-bubble {
  flex-wrap: wrap;
}

/* 选中最后一个 .no-attached（即使标签不同） */
.no-attached:not(:has(~ .no-attached))::after {
  content: "---Context Cleared---";
  /* color: #ccc; */
  width: 100%;
  text-align: center;
}

.myworkspace .ant-tabs-content {
  height: 100%;
}

.myworkspace .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
}

.myworkspace .ant-tabs-nav {
  margin-top: 0;
}

.chat .ant-bubble-content-wrapper {
  flex-grow: 0;
}

.chat .ant-bubble-content-wrapper .ant-bubble-footer {
  width: 100%;
}

.chat .infinite-scroll-component {
  overflow: hidden !important;
}

.chat .ant-conversations-item .ant-typography-ellipsis {
  display: block;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}

.my-modal .ant-modal-wrap {
  height: 0% !important;
}

.my-modal .ant-modal {
  position: fixed !important;
  /* left: 50%;
  transform: translateX(-50%); */
  right: 0;
  top: 0;
}
